<!DOCTYPE html>
<html>
  <head>
    <script src="../scripts/popup.js" defer></script>
    <link rel="stylesheet" href="../styles/popup.css" />
  </head>
  <body>
    <div class="header">
      <a href="#">
        <span class="logo">
          &#x1F4CB; MultiClip
        </span>
      </a>
      <a class="hist" href="settings.html">
        <span class="history">
          Settings &#x279B;
        </span>
      </a>
    </div>
    <!-- <button id="changeColor"></button> -->
    <div class="body">
      <div class="prompt">
        <!-- <h5 class="emptyPrompt">ClipBoard is Empty</h5> -->
        <h5 class="copyPrompt">Copy with Ctrl+C or Cmd+C, or type here</h5>
      </div>
      <div class="clips">
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content">
            sffbhdjfkl.,kmjnhbgvfcevgrbhtnjymkjnthbrgvefcsdvgbfhgnjhkmjnhbgvf.gbgfgbfhn
            jbjhbkjb jhbjhb jhbhjbjhhnhh
          </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content">
            sgcsgckasdbcigcss jsvcvdscvv uscuyfwuycfuwytsdv jvcusdvciydvciysd
            jsvcydvciyvds buydsucfwd
          </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
        <div class="clip">
          <span class="copy">
            &#x2398;
          </span>
          <span draggable="true" class="content"> dvc yvds ucfwd </span>
          <span class="deleteClip"> &#x274C; </span>
        </div>
      </div>
    </div>
    <div class="footer">
      <span class="clearAll"> Clear All </span>
      <span class="bugReport"> &#x1F41E; Report a Bug </span>
    </div>
  </body>
</html>
