<!DOCTYPE html>
<html>
  <head>
    <script src="../scripts/popup.js" defer></script>
    <link rel="stylesheet" href="../styles/popup.css" />
  </head>
  <body>
      <div class="header">
        <span class="logo">
            &#x1F5D2; MultiClip
        </span>
        <span class="history">
          History &#x279B;
        </span>
      </div>
      <!-- <button id="changeColor"></button> -->
      <div class="body">
        <div class="prompt">
          <!-- <h5 class="emptyPrompt">ClipBoard is Empty</h5> -->
          <h5 class="copyPrompt">Copy with Ctrl+c or Cmd+C, or type here</h5>
        </div>
        <div class="clips">
          <div class="clip">
            <span class="favorite">
                <svg height="25" width="23" class="star rating" data-rating="1">its 
                    <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                  </svg>
            </span>
            <span> </span>
            <span class="deleteClip"> &#x274C; </span>
          </div>
          <div class="clip">
            <span class="favorite">
                <svg height="25" width="23" class="star rating" data-rating="1">its 
                    <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                  </svg>
            </span>
            <span> </span>
            <span class="deleteClip"> &#x274C; </span>
          </div>
        </div>
      </div>
      <div class="footer">
        <span class="clearAll"> Clear All </span>
        <span class="bugReport"> &#x1F41E; Report a Bug </span>
      </div>
  </body>
</html>
