<!DOCTYPE html>
<html>
  <head>
    <script src="../src/popup.js" type="module" defer></script>
    <link rel="stylesheet" href="./popup.css" />
  </head>
  <body>
    <div class="header">
      <a href="#">
        <span class="logo">
          &#x1F4CB; MultiClip
        </span>
      </a>
      <div class="settingsAndArrow">
      <a href="settings.html">
        <span class="settings">
          Settings 
        </span>
      </a>
      <span>&#x279B;</span>
      </div>
    </div>
    <div class="body">
        <noscript>This Extension requires JavaScript be available and enabled to function properly</noscript>
      <div class="prompt">
        <h5 class="emptyPrompt">ClipBoard is Empty</h5>
        <h5 class="copyPrompt">Copy with Ctrl+C or Cmd+C, or type here</h5>
        <textarea class="clipText"></textarea>
      </div>
      <div class="clips"></div>
      </div>
    </div>
    <div class="hint">
        <h1 class="preview">PREVIEW</h1>
        <div class="text"></div>
    </div>
    <div class="footer">
      <span class="clearAll"> Clear All </span>
      <span> 
        <span> &#x1F41E;</span>
        <span class="bugReport"> Report a Bug </span>
      </span>
    </div>
  </body>
</html>

