<!DOCTYPE html>
<html>
  <head>
    <script src="../scripts/settings.js" defer></script>
    <link rel="stylesheet" href="../styles/popup.css" />
    <link rel="stylesheet" href="../styles/settings.css" />
  </head>
  <body>
    <div class="header">
      <a href="popup.html">
        <span class="backBtn">
          &#x21FD; Back
        </span>
      </a>
    </div>
    <!-- <button id="changeColor"></button> -->
    <div class="body">
        <noscript>This Extension requires JavaScript be available and enabled to function properly</noscript>
      <h5>Settings</h5>
      <div class="settings">
        <div class="menu">
          <span class="tag">Clear Clipboard After:</span>
          <select id="delay">
            <option value="1">1 day</option>
            <option value="2">2 days</option>
            <option value="3">3 days</option>
            <option value="4">4 days</option>
            <option value="5">5 days</option>
            <option value="6">6 days</option>
            <option value="7">7 days</option>
            <option selected value="0">Never</option>
          </select>
        </div>
        <div class="menu">
            <span class="tag">Theme:</span>
            <select id="theme">
              <option value="dark">Dark</option>
              <option selected value="light">Light</option>
            </select>
          </div>
      </div>
        <div class="menu">
            <span class="tag">AutoSave on Copy:</span>
            <select id="autoSave">
              <option value="yes">Yes</option>
              <option selected value="no">No</option>
            </select>
          </div>
      </div>
    </div>
    <div class="saveDiv">
      <button class="saveButton">Save</button>
    </div>
    <div class="footer">
      <span class="restoreDefault"> Default Settings </span>
      <span class="bugReport"> &#x1F41E; Report a Bug </span>
    </div>
  </body>
</html>
