<!DOCTYPE html>
<html>
  <head>
    <script src="../src/settings.js" type="module" defer></script>
    <link rel="stylesheet" href="./popup.css" />
    <link rel="stylesheet" href="./settings.css" />
  </head>
  <body>
    <div class="header">
      <div>
      <span> &#x21FD;</span>
      <a href="popup.html">
        <span class="back">
          Back
        </span>
      </a>
      </div>
    </div>
    <!-- <button id="changeColor"></button> -->
    <div class="body">
      <noscript
        >This Extension requires JavaScript be available and enabled to function
        properly</noscript
      >
      <h5 class="settings">Settings</h5>
      <div class="options">
        <div class="menu">
          <span class="clearClipAfter">Clear Clipboard After:</span>
          <select id="delay">
            <option class="no1" value="1">1 day</option>
            <option class="no2" value="2">2 days</option>
            <option class="no3" value="3">3 days</option>
            <option class="no4" value="4">4 days</option>
            <option class="no5" value="5">5 days</option>
            <option class="no6" value="6">6 days</option>
            <option class="no7" value="7">7 days</option>
            <option class="no0" selected value="0">Never</option>
          </select>
        </div>
        <div class="menu">
          <span class="theme">Theme:</span>
          <select id="theme">
            <option class="dark" value="dark">Dark</option>
            <option class="light" selected value="light">Light</option>
          </select>
        </div>
      </div>
      <div class="menu">
        <span class="language">Language:</span>
        <select id="language">
          <option class="fr" value="fr" data-reload>French</option>
          <option class="en" value="en">English</option>
          <option class="zh_CN" value="zh_CN">Chinese</option>
          <option class="ar" value="ar">Arabic</option>
          <option class="swa" value="swa">Swahili</option>
          <option class="default" value="default">Chrome's Default</option>
        </select>
      </div>
      <div class="menu">
        <span class="autoSave">AutoSave on Copy:</span>
        <select id="autoSave">
          <option class="yes" value="yes">Yes</option>
          <option class="no" selected value="no">No</option>
        </select>
      </div>
    </div>
    <div class="warningDiv">
      <span class="note"><strong>Note:</strong></span>
      <span class="noteText"
        >Setting AutoSave to <i>"yes"</i> requires you to give Clipboard
        permission to every page</span
      >
    </div>
    <div class="saveDiv">
      <button class="saveButton">Save</button>
    </div>
    <div class="footer">
      <span class="restoreDefault"> Default Settings </span>
      <span>
        <span>
          &#x1F41E;
        </span>
        <span class="bugReport">Report a Bug </span></span
      >
    </div>
  </body>
</html>
