<!DOCTYPE html>
<html>
  <head>
    <script src="../scripts/popup.js" defer></script>
    <link rel="stylesheet" href="../styles/popup.css" />
    <link rel="stylesheet" href="../styles/settings.css" />
  </head>
  <body>
    <div class="header">
      <a href="popup.html">
        <span class="logo">
          &#x21FD; Back
        </span>
      </a>
    </div>
    <!-- <button id="changeColor"></button> -->
    <div class="body">
      <h5>Settings</h5>
      <div class="settings">
        <div class="menu">
          <span class="tag">Clear Clipboard After:</span>
          <select name="" id="">
            <option value="">1 day</option>
            <option value="">2 days</option>
            <option value="">3 days</option>
            <option value="">4 days</option>
            <option value="">5 days</option>
            <option value="">6 days</option>
            <option value="">7 days</option>
            <option value="">Never</option>
          </select>
        </div>
        <div class="menu">
            <span class="tag">Theme:</span>
            <select name="" id="">
              <option value="">Dark</option>
              <option value="">Ash</option>
              <option value="">None</option>
            </select>
          </div>
      </div>
    </div>
    <div class="footer">
      <span class="clearAll"> Default Settings </span>
      <span class="bugReport"> &#x1F41E; Report a Bug </span>
    </div>
  </body>
</html>
