h5{
  text-align: center;
  margin: 0px;
  color: #8c8a8a;
  border-bottom: 1px solid rgb(218, 215, 215);
  padding: 8px;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4px 7px 4px 7px;
}

.tag{
  font-size: 12px;
}

select {
  width: 100px;
}
.settings{
  margin: 8px 0px 0px 
}

button {
  border-radius: 4px;
  width: max-content;
  outline: none;
  text-align: center;
}
.saveDiv{
  display: none;
  text-align: center;
  background-color: rgb(233, 233, 233);
}

.saveButton{
  height: 20px;
  margin: 5px 0px 3px 0px;
  background-color: rgb(237, 235, 235);
}

.saveButton:hover{
  background-color: white;
  border: 1px solid rgb(238, 209, 209);
}