body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: rgb(55, 52, 52);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
